<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
 <!--  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>

  <link rel='stylesheet' href='/Content/app.css' />
 
</head>
<body>    