<%- include partials/header.ejs %>

<%- include partials/mainNav.ejs %>

    <!--<h1>Welcome to <%= title %></h1>-->

    <section class="main py-5">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-lg-6 py-5 mr-auto">
            <h3><small>Hello, Welcome to</small><br>
              ThiArMo 
            </h3>
            <p>
              Hi there, and welcome to our home page. 
              Our application is a survey site that allows users to create 
              and participate in surveys on a variety of topics. The landing page features our team logo and the name of the site, along with a hero button that allows users to create a new survey.
            </p>
            <a href="/surveys/takeasurvey"><input type="button" value="Create Survey" class="bt1 mt-5"></a>
          </div>

          <div class="col-lg-6 py-5">
            <img src="./Assets\images\welcome.png" alt="welcome" class="img-fluid"> 
        </div>
        </div>
      </div>
    </section>

<%- include partials/footer.ejs %>



